.error-input-class{
    border: 1px solid red;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.input-class-payment{
  width:45%;
}

@media(max-width:800px){
  .input-class-payment{
    width:80%;
  }
}