.uploadForm{
    max-width: 600px !important;
}

@media (max-width: 600px){
    .uploadForm{
        max-width: 90vw !important;
        justify-content: center;
    }

    .inputStyle{
        width: 90%;
    }
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}